<ul class="list">

  <li class="item item-toggle">
     只顯示空車位
     <label class="toggle toggle-positive">
       <input type="checkbox" ng-model="ishide" ng-change="change()">
       <div class="track">
         <div class="handle"></div>
       </div>
     </label>
  </li>
  <li class="item item-toggle">
     HTML5
     <label class="toggle toggle-positive">
       <input type="checkbox">
       <div class="track">
         <div class="handle"></div>
       </div>
     </label>
  </li>
    
    
    

</ul>
