<ion-view view-title="附近優惠">
<style type="text/css">
    .item{
        color : black;
    }


    .item-note{
        color : black;
        font-weight: bold;
        font-size: 17px;
    }
</style>


    <ion-content>

        <div class="list">
            <a class="item">
                店名：
                <span class="item-note">
                卡布里喬莎
                </span>
            </a>

            <a class="item">
                地址：
                <span class="item-note">
                嘉義市西區文化路299號
                </span>
            </a>

            <a class="item">
                電話：
                <span class="item-note">
                05-227-7559
                </span>
            </a>
            <a class="item">
                營業時間：
                <span class="item-note">
                11:00-22:00
                </span>
            </a>
     
        </div>
    </ion-content>
</ion-view>