<ion-view view-title="Dashboard">
  <ion-content class="padding">

  <div class="item item-input-inset">
    <label class="item-input-wrapper">
      <input type="text" placeholder="請輸入訊息" ng-model="command.data">
    </label>
    <button class="button button-small button-balanced" ng-click="sendMessage()">
      Send
    </button>

</div>
<div class="list list-inset">
    <div class="item" ng-repeat="message in messages">
      <span style="font-weight: bold">{{message.from}}: </span>{{message.content}}
    </div>
</div>

  </ion-content>
</ion-view>
