<ion-view view-title="附近優惠">
    <ion-content>
    <style >
    .item-button-right > .button.btn-more{
         top: 30px;
    }
    </style>
        <div class="list">
            <a class="item item-thumbnail-left item-button-right" >
                <img src="img/capricciosa.gif">
                <h2>卡布里喬莎</h2>
                <p>九折優待</p>
                <button class="button button-positive btn-more" ng-click = "gopage()">
                    <i class="icon ion-more"></i>
                </button>
            </a>
            <a class="item item-thumbnail-left item-button-right" >
                <img src="img/hanchinchuan.jpg">
                <h2>韓金饌</h2>
                <p>四人同行一人免費</p>
                <button class="button button-positive btn-more" ng-click = "gopage()">
                    <i class="icon ion-more"></i>
                </button>
            </a>
            <a class="item item-thumbnail-left item-button-right" >
                <img src="img/lening.jpg">
                <h2>樂檸漢堡</h2>
                <p>穿短褲折五元</p>
                <button class="button button-positive btn-more" ng-click = "gopage()">
                    <i class="icon ion-more"></i>
                </button>
            </a>
            <a class="item item-thumbnail-left item-button-right" >
                <img src="img/wushihlan.jpg">
                <h2>五十嵐</h2>
                <p>滿十杯送一杯</p>
                <button class="button button-positive btn-more" ng-click = "gopage()">
                    <i class="icon ion-more"></i>
                </button>
            </a>
            <a class="item item-thumbnail-left item-button-right" >
                <img src="img/yichi.jpg">
                <h2>藝奇新日本料理</h2>
                <p>消費滿一千送一百</p>
                <button class="button button-positive btn-more" ng-click = "gopage()">
                    <i class="icon ion-more"></i>
                </button>
            </a>
            <a class="item item-thumbnail-left item-button-right">
                <img src="img/yushanwu.jpg">
                <h2>御膳屋鍋物</h2>
                <p>九五折優待</p>
                <button class="button button-positive btn-more" ng-click = "gopage()">
                    <i class="icon ion-more"></i>
                </button>
            </a>
        </div>
    </ion-content>
</ion-view>